.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  line-height: 80px;
  padding-left: 100px;
  font-size: 24px;
  font-weight: 700;
  color: #666;
  border-bottom: 1px solid #666;
}